@inherits LayoutComponentBase
@inject IDialogService DialogService

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />

<MudLayout>
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>        
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</MudLayout>
